## **AMOSTRAGENS**

In [1]:
import numpy as np
import pandas as pd

In [2]:
enem_es = pd.read_csv('enem_2022_es_tratado.csv', sep=',', encoding='iso-8859-1')

In [3]:
enem_es.head()

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"2,10E+11",21,M,1,parda,1,1,nao_respondeu,NaN,Cariacica,...,416.0,espanhol,1.0,120.0,40.0,40.0,100.0,20.0,320.0,sim
1,"2,10E+11",19,F,1,parda,1,1,nao_respondeu,NaN,Colatina,...,460.8,espanhol,1.0,100.0,140.0,100.0,140.0,120.0,600.0,sim
2,"2,10E+11",17,F,1,parda,1,2,privada,NaN,Colatina,...,449.3,espanhol,1.0,160.0,160.0,140.0,160.0,160.0,780.0,sim
3,"2,10E+11",41_45,F,3,parda,1,1,nao_respondeu,NaN,Vila Velha,...,437.6,espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,sim
4,"2,10E+11",17,M,1,parda,1,2,publica,Viana,Cariacica,...,464.2,ingles,1.0,120.0,120.0,120.0,160.0,140.0,660.0,nao

In [4]:
enem_serra = enem_es.loc[enem_es.NO_MUNICIPIO_PROVA == 'Serra']

In [5]:
enem_serra.head(10)

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
6,"2,10E+11",31_35,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,535.4,espanhol,1.0,120.0,120.0,140.0,120.0,80.0,580.0,sim
17,"2,10E+11",31_35,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,461.5,ingles,1.0,120.0,120.0,80.0,80.0,0.0,400.0,nao
45,"2,10E+11",18,F,1,branca,1,1,nao_respondeu,NaN,Serra,...,502.1,espanhol,1.0,120.0,80.0,100.0,100.0,0.0,400.0,sim
49,"2,10E+11",21,F,1,branca,1,1,nao_respondeu,NaN,Serra,...,492.3,ingles,1.0,120.0,40.0,40.0,140.0,40.0,380.0,sim
53,"2,10E+11",18,F,1,parda,1,2,publica,Serra,Serra,...,612.1,ingles,1.0,160.0,200.0,140.0,120.0,80.0,700.0,sim
69,"2,10E+11",25,F,1,branca,1,1,nao_respondeu,NaN,Serra,...,500.8,espanhol,1.0,80.0,80.0,60.0,100.0,0.0,320.0,sim
70,"2,10E+11",18,F,1,preta,1,2,publica,Vitória,Serra,...,501.6,espanhol,1.0,160.0,200.0,160.0,200.0,200.0,920.0,sim
72,"2,10E+11",18,F,1,branca,1,2,publica,NaN,Serra,...,403.2,ingles,1.0,140.0,160.0,120.0,120.0,120.0,660.0,sim
77,"2,10E+11",18,F,1,preta,1,2,publica,NaN,Serra,...,517.1,espanhol,1.0,120.0,160.0,100.0,120.0,120.0,620.0,sim
85,"2,10E+11",22,F,1,branca,1,1,nao_respondeu,NaN,Serra,...,513.1,espanhol,1.0,120.0,200.0,120.0,140.0,80.0,660.0,sim

In [6]:
enem_serra.shape

(1476, 27)

## Amostragem Aleatória Simples

In [7]:
# usando a seed fixamos a amostra selecionada
np.random.seed(1)

In [8]:
amos_simples = enem_serra.sample(frac=0.20) # definindo uma porcentagem

In [9]:
amos_simples

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
4709,"2,10E+11",18,M,1,parda,1,2,publica,Vitória,Serra,...,703.2,ingles,1.0,140.0,200.0,140.0,120.0,120.0,720.0,sim
3271,"2,10E+11",21,F,1,preta,1,1,nao_respondeu,NaN,Serra,...,535.7,ingles,1.0,120.0,120.0,120.0,120.0,160.0,640.0,sim
6450,"2,10E+11",17,F,1,parda,1,2,publica,NaN,Serra,...,469.9,espanhol,1.0,80.0,40.0,40.0,80.0,40.0,280.0,sim
2829,"2,10E+11",17,F,1,parda,1,2,publica,NaN,Serra,...,403.5,ingles,1.0,120.0,160.0,120.0,120.0,140.0,660.0,sim
7732,"2,10E+11",18,F,1,parda,1,2,publica,Serra,Serra,...,477.6,espanhol,1.0,120.0,140.0,120.0,140.0,120.0,640.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4066,"2,10E+11",18,F,1,parda,1,2,publica,Colatina,Serra,...,417.4,ingles,1.0,100.0,40.0,40.0,120.0,40.0,340.0,sim
2368,"2,10E+11",26_30,F,1,preta,1,1,nao_respondeu,NaN,Serra,...,404.3,ingles,1.0,120.0,120.0,80.0,100.0,60.0,480.0,sim
10100,"2,10E+11",18,F,1,parda,1,2,publica,Serra,Serra,...,566.7,ingles,1.0,100.0,120.0,100.0,100.0,40.0,460.0,sim
9507,"2,10E+11",31_35,F,3,parda,1,1,nao_respondeu,NaN,Serra,...,542.7,ingles,1.0,60.0,200.0,120.0,120.0,180.0,680.0,sim
2492,"2,10E+11",19,F,1,preta,1,2,publica,Vila Velha,Serra,...,554.4,ingles,1.0,140.0,200.0,160.0,160.0,160.0,820.0,sim

In [10]:
amos_simples = enem_serra.sample(300) # definindo uma quantidade numérica

In [11]:
amos_simples

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
1791,"2,10E+11",21,F,1,preta,1,1,nao_respondeu,NaN,Serra,...,399.2,ingles,1.0,120.0,140.0,120.0,120.0,120.0,620.0,sim
7466,"2,10E+11",41_45,F,2,parda,1,1,nao_respondeu,NaN,Serra,...,669.2,ingles,1.0,120.0,120.0,100.0,100.0,120.0,560.0,sim
2558,"2,10E+11",19,M,1,parda,1,1,nao_respondeu,NaN,Serra,...,529.6,espanhol,1.0,80.0,140.0,120.0,100.0,80.0,520.0,sim
6113,"2,10E+11",18,F,1,preta,1,2,publica,Serra,Serra,...,703.1,espanhol,1.0,140.0,200.0,120.0,160.0,200.0,820.0,sim
10648,"2,10E+11",21,F,1,preta,1,1,nao_respondeu,NaN,Serra,...,627.6,espanhol,1.0,120.0,120.0,80.0,100.0,120.0,540.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,"2,10E+11",19,F,1,branca,1,2,publica,Vitória,Serra,...,501.7,espanhol,1.0,120.0,180.0,140.0,160.0,140.0,740.0,sim
2450,"2,10E+11",18,F,1,parda,1,2,publica,Serra,Serra,...,384.4,espanhol,1.0,100.0,120.0,120.0,120.0,0.0,460.0,sim
7661,"2,10E+11",18,M,3,branca,1,2,privada,Serra,Serra,...,580.0,ingles,1.0,120.0,180.0,120.0,140.0,160.0,720.0,sim
8408,"2,10E+11",23,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,381.7,espanhol,1.0,120.0,120.0,100.0,120.0,120.0,580.0,sim
9870,"2,10E+11",19,M,1,parda,1,1,nao_respondeu,NaN,Serra,...,633.5,ingles,1.0,120.0,120.0,120.0,120.0,120.0,600.0,sim

#### OUTRA MANEIRA

In [12]:
np.random.seed(2)

In [13]:
amostra = np.random.choice(a=[0,1], size=1476, replace=True, p=[0.8, 0.2])

In [14]:
amostra

array([0, 0, 0, ..., 1, 0, 0])

In [15]:
len(amostra[amostra == 0])

1179

In [16]:
len(amostra[amostra == 1])

297

In [17]:
amos_simples = enem_serra.loc[amostra == 1]

In [18]:
amos_simples

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
125,"2,10E+11",18,F,1,branca,1,1,nao_respondeu,NaN,Serra,...,667.1,ingles,1.0,120.0,120.0,140.0,120.0,80.0,580.0,sim
133,"2,10E+11",21,F,1,preta,1,1,nao_respondeu,NaN,Serra,...,627.2,espanhol,1.0,140.0,200.0,140.0,140.0,120.0,740.0,sim
236,"2,10E+11",17,F,1,branca,1,2,publica,NaN,Serra,...,489.7,espanhol,1.0,160.0,200.0,140.0,120.0,160.0,780.0,sim
255,"2,10E+11",19,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,470.0,espanhol,1.0,120.0,160.0,120.0,140.0,80.0,620.0,sim
280,"2,10E+11",18,F,1,branca,1,2,publica,NaN,Serra,...,576.8,espanhol,1.0,180.0,200.0,160.0,200.0,200.0,940.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11613,"2,10E+11",20,M,1,branca,1,1,nao_respondeu,NaN,Serra,...,574.7,espanhol,4.0,0.0,0.0,0.0,0.0,0.0,0.0,sim
11660,"2,10E+11",24,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,393.1,espanhol,1.0,120.0,80.0,80.0,120.0,0.0,400.0,sim
11697,"2,10E+11",18,F,1,parda,1,2,publica,Serra,Serra,...,526.6,espanhol,1.0,120.0,140.0,100.0,100.0,160.0,620.0,sim
11709,"2,10E+11",22,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,546.3,ingles,1.0,120.0,160.0,120.0,120.0,120.0,640.0,sim
11789,"2,10E+11",41_45,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,461.2,ingles,6.0,0.0,0.0,0.0,0.0,0.0,0.0,sim

## Amostragem Sistemática

In [19]:
enem_serra.shape

(1476, 27)

In [20]:
np.random.seed(2)
inicio = np.random.choice(10, 1)

In [21]:
inicio

array([8])

In [22]:
amostra2 = np.arange(inicio,1476,10)
amostra2

array([   8,   18,   28,   38,   48,   58,   68,   78,   88,   98,  108,
        118,  128,  138,  148,  158,  168,  178,  188,  198,  208,  218,
        228,  238,  248,  258,  268,  278,  288,  298,  308,  318,  328,
        338,  348,  358,  368,  378,  388,  398,  408,  418,  428,  438,
        448,  458,  468,  478,  488,  498,  508,  518,  528,  538,  548,
        558,  568,  578,  588,  598,  608,  618,  628,  638,  648,  658,
        668,  678,  688,  698,  708,  718,  728,  738,  748,  758,  768,
        778,  788,  798,  808,  818,  828,  838,  848,  858,  868,  878,
        888,  898,  908,  918,  928,  938,  948,  958,  968,  978,  988,
        998, 1008, 1018, 1028, 1038, 1048, 1058, 1068, 1078, 1088, 1098,
       1108, 1118, 1128, 1138, 1148, 1158, 1168, 1178, 1188, 1198, 1208,
       1218, 1228, 1238, 1248, 1258, 1268, 1278, 1288, 1298, 1308, 1318,
       1328, 1338, 1348, 1358, 1368, 1378, 1388, 1398, 1408, 1418, 1428,
       1438, 1448, 1458, 1468])

In [23]:
amos_sistematica = enem_serra.iloc[amostra2,:]

In [24]:
amos_sistematica

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
77,"2,10E+11",18,F,1,preta,1,2,publica,NaN,Serra,...,517.1,espanhol,1.0,120.0,160.0,100.0,120.0,120.0,620.0,sim
133,"2,10E+11",21,F,1,preta,1,1,nao_respondeu,NaN,Serra,...,627.2,espanhol,1.0,140.0,200.0,140.0,140.0,120.0,740.0,sim
195,"2,10E+11",20,F,1,parda,1,2,publica,NaN,Serra,...,481.7,espanhol,1.0,100.0,120.0,100.0,120.0,120.0,560.0,sim
230,"2,10E+11",18,M,1,parda,1,2,publica,NaN,Serra,...,606.9,ingles,1.0,80.0,120.0,120.0,100.0,40.0,460.0,sim
267,"2,10E+11",18,F,1,parda,1,2,publica,NaN,Serra,...,487.1,ingles,1.0,100.0,120.0,80.0,120.0,60.0,480.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11409,"2,10E+11",23,M,1,parda,1,1,nao_respondeu,NaN,Serra,...,666.1,ingles,1.0,140.0,120.0,120.0,120.0,160.0,660.0,sim
11500,"2,10E+11",22,M,1,branca,1,1,nao_respondeu,NaN,Serra,...,474.1,ingles,1.0,120.0,120.0,120.0,120.0,200.0,680.0,sim
11591,"2,10E+11",36_40,F,0,parda,1,1,nao_respondeu,NaN,Serra,...,636.8,ingles,1.0,120.0,120.0,120.0,120.0,0.0,480.0,sim
11697,"2,10E+11",18,F,1,parda,1,2,publica,Serra,Serra,...,526.6,espanhol,1.0,120.0,140.0,100.0,100.0,160.0,620.0,sim
11759,"2,10E+11",36_40,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,477.0,ingles,1.0,80.0,40.0,20.0,120.0,80.0,340.0,sim

#### OUTRA MANEIRA

In [25]:
np.random.seed(10)

In [26]:
inicio = np.random.choice(10, 1)
passo = np.random.randint(10, 15, 1)

In [27]:
inicio

array([9])

In [28]:
passo

array([14])

In [29]:
amostra2 = np.arange(inicio,1476,passo)
amostra2

array([   9,   23,   37,   51,   65,   79,   93,  107,  121,  135,  149,
        163,  177,  191,  205,  219,  233,  247,  261,  275,  289,  303,
        317,  331,  345,  359,  373,  387,  401,  415,  429,  443,  457,
        471,  485,  499,  513,  527,  541,  555,  569,  583,  597,  611,
        625,  639,  653,  667,  681,  695,  709,  723,  737,  751,  765,
        779,  793,  807,  821,  835,  849,  863,  877,  891,  905,  919,
        933,  947,  961,  975,  989, 1003, 1017, 1031, 1045, 1059, 1073,
       1087, 1101, 1115, 1129, 1143, 1157, 1171, 1185, 1199, 1213, 1227,
       1241, 1255, 1269, 1283, 1297, 1311, 1325, 1339, 1353, 1367, 1381,
       1395, 1409, 1423, 1437, 1451, 1465])

In [30]:
amostra2_camp = enem_serra.iloc[amostra2,:]

In [31]:
amostra2_camp

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
85,"2,10E+11",22,F,1,branca,1,1,nao_respondeu,NaN,Serra,...,513.1,espanhol,1.0,120.0,200.0,120.0,140.0,80.0,660.0,sim
173,"2,10E+11",17,F,1,parda,1,2,publica,NaN,Serra,...,437.9,espanhol,1.0,120.0,120.0,120.0,120.0,140.0,620.0,sim
228,"2,10E+11",31_35,M,2,preta,1,1,nao_respondeu,NaN,Serra,...,465.0,espanhol,1.0,160.0,200.0,140.0,120.0,100.0,720.0,sim
306,"2,10E+11",17,F,1,preta,1,2,publica,Serra,Serra,...,536.7,ingles,3.0,0.0,0.0,0.0,0.0,0.0,0.0,sim
470,"2,10E+11",19,M,1,branca,1,2,publica,Serra,Serra,...,567.3,ingles,1.0,120.0,140.0,120.0,120.0,120.0,620.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11229,"2,10E+11",31_35,F,1,branca,1,1,nao_respondeu,NaN,Serra,...,440.5,espanhol,1.0,100.0,100.0,100.0,120.0,0.0,420.0,sim
11384,"2,10E+11",18,F,1,parda,1,2,publica,NaN,Serra,...,492.3,espanhol,4.0,0.0,0.0,0.0,0.0,0.0,0.0,sim
11493,"2,10E+11",20,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,516.9,ingles,1.0,140.0,160.0,120.0,120.0,120.0,660.0,sim
11608,"2,10E+11",18,F,1,preta,1,2,publica,NaN,Serra,...,392.6,espanhol,1.0,120.0,40.0,40.0,120.0,40.0,360.0,sim
11729,"2,10E+11",17,F,1,parda,1,2,publica,NaN,Serra,...,370.4,espanhol,1.0,120.0,160.0,120.0,140.0,80.0,620.0,sim

## Amostragem Estratificada

In [32]:
enem_serra['RACA'].value_counts()

parda            748
branca           421
preta            259
amarela           24
nao_declarado     17
indigena           7
Name: RACA, dtype: int64

**Para quantidade pequena de grupos**

In [33]:
branca = enem_serra.loc[enem_serra.RACA == 'branca'].sample(frac=0.20)
branca.shape

(84, 27)

In [34]:
parda = enem_serra.loc[enem_serra.RACA == 'parda'].sample(frac=0.20)
parda.shape

(150, 27)

In [35]:
preta = enem_serra.loc[enem_serra.RACA == 'preta'].sample(frac=0.20)
preta.shape

(52, 27)

In [36]:
amarela = enem_serra.loc[enem_serra.RACA == 'amarela'].sample(frac=0.20)
amarela.shape

(5, 27)

In [37]:
nd = enem_serra.loc[enem_serra.RACA == 'nao_declarado'].sample(frac=0.20)
nd.shape

(3, 27)

In [38]:
indigena = enem_serra.loc[enem_serra.RACA == 'indigena'].sample(frac=0.20)
indigena.shape

(1, 27)

In [39]:
amos_estra = pd.concat([branca, parda, preta, amarela, nd, indigena])

In [40]:
amos_estra

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
11122,"2,10E+11",20,M,1,branca,2,1,nao_respondeu,NaN,Serra,...,742.9,ingles,1.0,160.0,200.0,140.0,200.0,200.0,900.0,sim
11366,"2,10E+11",20,M,1,branca,1,1,nao_respondeu,NaN,Serra,...,433.2,espanhol,1.0,160.0,200.0,140.0,120.0,100.0,720.0,sim
1199,"2,10E+11",17,M,1,branca,1,2,publica,NaN,Serra,...,509.5,ingles,1.0,100.0,120.0,120.0,120.0,120.0,580.0,sim
4451,"2,10E+11",18,F,1,branca,1,2,publica,Serra,Serra,...,417.9,ingles,1.0,120.0,180.0,100.0,120.0,140.0,660.0,sim
6589,"2,10E+11",19,F,1,branca,1,1,nao_respondeu,NaN,Serra,...,639.8,ingles,1.0,180.0,200.0,160.0,200.0,180.0,920.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5293,"2,10E+11",17,M,1,amarela,1,2,publica,NaN,Serra,...,543.0,ingles,8.0,0.0,0.0,0.0,0.0,0.0,0.0,sim
11401,"2,10E+11",31_35,F,1,nao_declarado,1,1,nao_respondeu,NaN,Serra,...,387.7,espanhol,1.0,120.0,40.0,40.0,120.0,40.0,360.0,sim
7407,"2,10E+11",18,F,1,nao_declarado,1,2,publica,NaN,Serra,...,507.6,espanhol,1.0,160.0,120.0,120.0,120.0,80.0,600.0,sim
6681,"2,10E+11",19,F,1,nao_declarado,1,1,nao_respondeu,NaN,Serra,...,354.4,ingles,1.0,120.0,40.0,40.0,140.0,40.0,380.0,sim
11377,"2,10E+11",21,M,1,indigena,1,2,publica,NaN,Serra,...,364.7,espanhol,1.0,80.0,80.0,80.0,120.0,0.0,360.0,sim

#### Grandes quantidades de grupos

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_treino, X_teste, y_treino, amos_estra = train_test_split(enem_serra.drop('RACA',axis=1),enem_serra['RACA'],
                                                    stratify=enem_serra['RACA'], test_size=0.20)

In [43]:
amos_estra.shape

(296,)

In [44]:
amos_estra.value_counts()

parda            150
branca            85
preta             52
amarela            5
nao_declarado      3
indigena           1
Name: RACA, dtype: int64

In [45]:
amos_estra = amos_estra.index

In [46]:
amos_estra

Int64Index([ 2343,  3674,  4372,  4412,  1132,  5059,  8056,  7985,  2060,
            10727,
            ...
             9278,  3866,  3169,  4899,  7817,  5920,  2279, 11488,  9848,
             3271],
           dtype='int64', length=296)

In [47]:
amos_estra_serra = enem_serra.loc[amos_estra,:]

In [48]:
amos_estra_serra

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
2343,"2,10E+11",17,M,1,parda,1,2,publica,NaN,Serra,...,469.7,espanhol,1.0,140.0,200.0,140.0,180.0,160.0,820.0,sim
3674,"2,10E+11",31_35,F,2,branca,1,1,nao_respondeu,NaN,Serra,...,375.6,espanhol,1.0,120.0,40.0,40.0,80.0,20.0,300.0,sim
4372,"2,10E+11",17,F,1,parda,1,2,publica,Serra,Serra,...,581.5,espanhol,1.0,140.0,200.0,140.0,160.0,200.0,840.0,sim
4412,"2,10E+11",18,F,1,preta,1,2,publica,Serra,Serra,...,560.9,espanhol,1.0,140.0,100.0,80.0,100.0,0.0,420.0,sim
1132,"2,10E+11",21,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,425.4,espanhol,1.0,100.0,120.0,100.0,100.0,80.0,500.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5920,"2,10E+11",18,M,3,parda,1,2,publica,Serra,Serra,...,710.8,espanhol,1.0,160.0,160.0,140.0,160.0,180.0,800.0,sim
2279,"2,10E+11",17,F,1,amarela,1,2,publica,Vitória,Serra,...,570.6,ingles,1.0,120.0,200.0,120.0,140.0,140.0,720.0,sim
11488,"2,10E+11",18,M,1,parda,1,2,publica,Serra,Serra,...,497.0,espanhol,1.0,100.0,180.0,120.0,160.0,160.0,720.0,sim
9848,"2,10E+11",19,M,1,parda,1,1,nao_respondeu,NaN,Serra,...,695.1,ingles,1.0,120.0,120.0,80.0,120.0,100.0,540.0,sim
3271,"2,10E+11",21,F,1,preta,1,1,nao_respondeu,NaN,Serra,...,535.7,ingles,1.0,120.0,120.0,120.0,120.0,160.0,640.0,sim

## Amostragem por Conglomerado (agrupamento)

In [49]:
escolas_publicas = enem_serra.loc[enem_serra.ESCOLA == 'publica']

In [50]:
escolas_publicas.shape

(713, 27)

In [51]:
escolas_publicas

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
53,"2,10E+11",18,F,1,parda,1,2,publica,Serra,Serra,...,612.1,ingles,1.0,160.0,200.0,140.0,120.0,80.0,700.0,sim
70,"2,10E+11",18,F,1,preta,1,2,publica,Vitória,Serra,...,501.6,espanhol,1.0,160.0,200.0,160.0,200.0,200.0,920.0,sim
72,"2,10E+11",18,F,1,branca,1,2,publica,NaN,Serra,...,403.2,ingles,1.0,140.0,160.0,120.0,120.0,120.0,660.0,sim
77,"2,10E+11",18,F,1,preta,1,2,publica,NaN,Serra,...,517.1,espanhol,1.0,120.0,160.0,100.0,120.0,120.0,620.0,sim
94,"2,10E+11",26_30,F,0,parda,1,2,publica,Serra,Serra,...,522.9,espanhol,1.0,120.0,120.0,60.0,100.0,80.0,480.0,sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11712,"2,10E+11",17,F,1,parda,1,2,publica,Serra,Serra,...,426.8,ingles,1.0,100.0,140.0,140.0,140.0,120.0,640.0,nao
11729,"2,10E+11",17,F,1,parda,1,2,publica,NaN,Serra,...,370.4,espanhol,1.0,120.0,160.0,120.0,140.0,80.0,620.0,sim
11762,"2,10E+11",18,M,1,parda,1,2,publica,Serra,Serra,...,689.5,ingles,1.0,120.0,200.0,120.0,120.0,160.0,720.0,sim
11770,"2,10E+11",17,M,1,branca,1,2,publica,Santa Teresa,Serra,...,573.0,ingles,1.0,120.0,140.0,120.0,100.0,160.0,640.0,nao
11813,"2,10E+11",17,F,1,parda,1,2,publica,Serra,Serra,...,630.6,espanhol,1.0,160.0,140.0,120.0,160.0,120.0,700.0,sim

In [52]:
amostras = escolas_publicas['NO_MUNICIPIO_ESC'].value_counts()
amostras

Serra           378
Vitória          92
Santa Teresa      7
Aracruz           5
Vila Velha        3
Cariacica         2
Colatina          1
Fundão            1
Name: NO_MUNICIPIO_ESC, dtype: int64

In [53]:
amostras.index

Index(['Serra', 'Vitória', 'Santa Teresa', 'Aracruz', 'Vila Velha',
       'Cariacica', 'Colatina', 'Fundão'],
      dtype='object')

In [54]:
amostragem = np.random.choice(a=[0,1],size=8, replace=True, p=[0.85, 0.15])

In [55]:
amostragem

array([0, 0, 0, 0, 0, 1, 0, 0])

In [56]:
amos_conglomerado = amostras.loc[amostragem == 1]

In [57]:
amos_conglomerado

Cariacica    2
Name: NO_MUNICIPIO_ESC, dtype: int64

In [58]:
amos_conglomerado.shape

(1,)

In [59]:
amos_conglomerado.index

Index(['Cariacica'], dtype='object')

In [60]:
# selecionar o index apresentado no output anterior
amos_conglomerado = escolas_publicas.loc[escolas_publicas['NO_MUNICIPIO_ESC'].isin(['Cariacica'])]

In [61]:
amos_conglomerado

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
2121,"2,10E+11",18,F,1,preta,1,2,publica,Cariacica,Serra,...,357.9,ingles,4.0,0.0,0.0,0.0,0.0,0.0,0.0,sim
9447,"2,10E+11",18,M,1,parda,1,2,publica,Cariacica,Serra,...,594.0,ingles,1.0,100.0,120.0,80.0,120.0,0.0,420.0,sim