## **PROBABILIDADE**

In [1]:
import numpy as np
import pandas as pd

In [2]:
enem_es = pd.read_csv('enem_2022_es_tratado.csv', sep=',', encoding='iso-8859-1')

In [3]:
enem_es.columns

Index(['NU_INSCRICAO', 'FAIXA_ETARIA', 'SEXO', 'ESTADO_CIVIL', 'RACA',
       'NACIONALIDADE', 'TP_ST_CONCLUSAO', 'ESCOLA', 'NO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH',
       'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NOTA_CN', 'NOTA_CH', 'NOTA_LC',
       'NOTA_MT', 'TP_LINGUA', 'TP_STATUS_REDACAO', 'COMP1', 'COMP2', 'COMP3',
       'COMP4', 'COMP5', 'NOTA_REDACAO', 'INTERNET'],
      dtype='object')

In [4]:
enem_serra = enem_es.loc[enem_es.NO_MUNICIPIO_ESC == 'Serra']

In [5]:
enem_vitoria = enem_es.loc[enem_es.NO_MUNICIPIO_ESC == 'Vitória']

In [6]:
enem_serra.head()

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
53,"2,10E+11",18,F,1,parda,1,2,publica,Serra,Serra,...,612.1,ingles,1.0,160.0,200.0,140.0,120.0,80.0,700.0,sim
94,"2,10E+11",26_30,F,0,parda,1,2,publica,Serra,Serra,...,522.9,espanhol,1.0,120.0,120.0,60.0,100.0,80.0,480.0,sim
106,"2,10E+11",18,F,1,parda,1,2,publica,Serra,Serra,...,423.4,espanhol,1.0,100.0,180.0,140.0,120.0,160.0,700.0,nao
113,"2,10E+11",18,M,1,preta,1,2,publica,Serra,Serra,...,669.3,ingles,1.0,120.0,120.0,120.0,120.0,100.0,580.0,sim
186,"2,10E+11",17,F,1,parda,1,2,publica,Serra,Serra,...,675.7,ingles,1.0,140.0,160.0,120.0,120.0,140.0,680.0,sim

In [7]:
enem_vitoria.head()

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
11,"2,10E+11",19,M,1,parda,1,2,publica,Vitória,Vitória,...,553.1,ingles,1.0,80.0,120.0,80.0,120.0,100.0,500.0,sim
52,"2,10E+11",18,M,1,parda,1,2,publica,Vitória,Vitória,...,545.0,espanhol,1.0,100.0,180.0,140.0,140.0,140.0,700.0,sim
61,"2,10E+11",19,F,1,parda,1,2,publica,Vitória,Vitória,...,443.4,ingles,1.0,120.0,100.0,80.0,120.0,0.0,420.0,sim
63,"2,10E+11",18,M,1,parda,1,2,publica,Vitória,Vitória,...,579.2,ingles,1.0,160.0,200.0,160.0,180.0,160.0,860.0,sim
70,"2,10E+11",18,F,1,preta,1,2,publica,Vitória,Serra,...,501.6,espanhol,1.0,160.0,200.0,160.0,200.0,200.0,920.0,sim

In [8]:
enem_serra.shape

(448, 27)

In [9]:
len(enem_serra)

448

In [10]:
len(enem_vitoria)

819

In [11]:
len(enem_es)

11817

In [12]:
# CRIANDO FUNÇÃO PROBABILIDADE
def probab (A, E):
  resultado = (A / E)*100 
  print('{:.2f}'.format(resultado))

In [13]:
# PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE SERRA
probab (len(enem_serra), len(enem_es))
# mostra a probabilidade de selecionar um vestibulando do município de Serra no espaço amostral.

3.79

In [14]:
# PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE VITÓRIA
probab (len(enem_vitoria), len(enem_es))

6.93

## Probabilidade de não ocorrer um evento

In [15]:
# CRIANDO FUNÇÃO PROBABILIDADE DE NÃO OCORRER UM EVENTO
def probab_nao (A, E):
  resultado = (1- (A / E))*100 
  print('{:.2f}'.format(resultado))

In [16]:
# PROBABILIDADE DE NÃO RETIRAR UM VESTIBULANDO DE SERRA
probab_nao (len(enem_serra), len(enem_es))

96.21

In [17]:
# PROBABILIDADE DE NÃO RETIRAR UM VESTIBULANDO DE SERRA E NEM DE VITÓRIA
probab_nao (len(enem_serra)+len(enem_vitoria), len(enem_es))

89.28

## Probabilidade da união mutuamente exclusivos (AUB)

In [18]:
# CRIANDO FUNÇÃO PROBABILIDADE DA UNIÃO MUTUAMENTE EXCLUSIVOS (AUB)
def probab_uniao (A, B, E):
  resultado = (A/E + B/E)*100
  print('{:.2f}'.format(resultado))

In [19]:
# PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE SERRA OU DE VITÓRIA
probab_uniao(len(enem_serra),len(enem_vitoria),len(enem_es))

10.72

## Probabilidade da Intersecção de dois eventos

In [20]:
# CRIANDO FUNÇÃO PROBABILIDADE DA INTERSECÇÃO DE DOIS EVENTOS
def probab_inter (A, B, E):
  resultado = (A/E * B/E)*100
  print('{:.3f}'.format(resultado))

In [21]:
#PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE SERRA E DE VITÓRIA (com reposição)
probab_inter(len(enem_serra),len(enem_vitoria),len(enem_es))

0.263

## Probabilidade Condicional

In [22]:
#CRIANDO FUNÇÃO PROBABILIDADE CONDICIONAL
def probab_cond (AB, B):
  resultado = (AB / B)*100
  print('{:.2f}'.format(resultado))

In [23]:
#PROBABILIDADE DE RETIRAR UMA MULHER PARDA
mulher = enem_es.loc[enem_es.SEXO == 'F']
mulher_parda = mulher.loc[mulher.RACA == 'parda']

In [24]:
mulher_parda.head(20)

,NU_INSCRICAO,FAIXA_ETARIA,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,NO_MUNICIPIO_ESC,NO_MUNICIPIO_PROVA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
1,"2,10E+11",19,F,1,parda,1,1,nao_respondeu,NaN,Colatina,...,460.8,espanhol,1.0,100.0,140.0,100.0,140.0,120.0,600.0,sim
2,"2,10E+11",17,F,1,parda,1,2,privada,NaN,Colatina,...,449.3,espanhol,1.0,160.0,160.0,140.0,160.0,160.0,780.0,sim
3,"2,10E+11",41_45,F,3,parda,1,1,nao_respondeu,NaN,Vila Velha,...,437.6,espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,sim
5,"2,10E+11",22,F,1,parda,1,1,nao_respondeu,NaN,Mimoso do Sul,...,451.2,ingles,1.0,120.0,160.0,120.0,120.0,80.0,600.0,sim
6,"2,10E+11",31_35,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,535.4,espanhol,1.0,120.0,120.0,140.0,120.0,80.0,580.0,sim
7,"2,10E+11",17,F,1,parda,1,2,publica,Cariacica,Cariacica,...,524.9,espanhol,1.0,140.0,140.0,100.0,120.0,120.0,620.0,sim
9,"2,10E+11",21,F,1,parda,1,1,nao_respondeu,NaN,Cariacica,...,426.0,espanhol,1.0,100.0,40.0,40.0,100.0,40.0,320.0,sim
13,"2,10E+11",31_35,F,2,parda,1,1,nao_respondeu,NaN,São Mateus,...,403.2,espanhol,1.0,120.0,120.0,120.0,120.0,160.0,640.0,sim
14,"2,10E+11",18,F,1,parda,2,2,publica,Vila Velha,Vila Velha,...,382.8,espanhol,1.0,100.0,120.0,80.0,80.0,100.0,480.0,sim
17,"2,10E+11",31_35,F,1,parda,1,1,nao_respondeu,NaN,Serra,...,461.5,ingles,1.0,120.0,120.0,80.0,80.0,0.0,400.0,nao
19,"2,10E+11",19,F,1,parda,1,1,nao_respondeu,NaN,Vila Velha,...,642.8,ingles,1.0,120.0,180.0,120.0,140.0,160.0,720.0,sim
24,"2,10E+11",19,F,1,parda,1,1,nao_respondeu,NaN,Vitória,...,530.8,espanhol,1.0,120.0,100.0,120.0,120.0,100.0,560.0,sim
31,"2,10E+11",19,F,1,parda,1,1,nao_respondeu,NaN,Vila Velha,...,589.8,espanhol,1.0,100.0,180.0,100.0,140.0,120.0,640.0,sim
33,"2,10E+11",17,F,1,parda,1,2,publica,NaN,Cariacica,...,392.7,ingles,1.0,80.0,120.0,80.0,100.0,60.0,440.0,sim
36,"2,10E+11",20,F,0,parda,1,1,nao_respondeu,NaN,Linhares,...,606.6,espanhol,1.0,120.0,120.0,100.0,120.0,40.0,500.0,sim
46,"2,10E+11",31_35,F,2,parda,1,1,nao_respondeu,NaN,Vila Velha,...,542.8,espanhol,1.0,120.0,120.0,100.0,120.0,120.0,580.0,sim
50,"2,10E+11",18,F,1,parda,1,2,publica,Rio Novo do Sul,Cachoeiro de Itapemirim,...,448.3,espanhol,1.0,80.0,200.0,140.0,120.0,140.0,680.0,sim
53,"2,10E+11",18,F,1,parda,1,2,publica,Serra,Serra,...,612.1,ingles,1.0,160.0,200.0,140.0,120.0,80.0,700.0,sim
54,"2,10E+11",19,F,1,parda,1,1,nao_respondeu,NaN,Vila Velha,...,559.2,ingles,1.0,160.0,200.0,140.0,180.0,200.0,880.0,sim
60,"2,10E+11",20,F,1,parda,1,1,nao_respondeu,NaN,Cariacica,...,450.9,ingles,1.0,100.0,120.0,100.0,120.0,60.0,500.0,sim

In [25]:
probab_cond(len(mulher_parda),len(mulher))

43.71